body, p, h3, h1,  {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

section, footer, header {
	padding: 0 218px 0 218px;
}

.global-point {
	color: red;
}

.global-btn-more {
	color: red;
	text-transform: uppercase;
}

.global-img-arrow {
	padding: 0 0 2px 7px;
}