.our-team-flex-wrap {
	display: flex;
	justify-content: space-around;
}

.our-team-img-float {
	float: left;
	clear: both;
	padding-right: 20px;
}

.btn-more-align-right {
	text-align: right;
	padding: 67px 0 62px 0;
}

.topic-wrapper {
	padding-top: 90px;
}

.our-team-topic__padding {
	padding-bottom: 16px;
}

.our-team__item {
	color: #9aa0ab;
	font-size: 16px;
	padding-bottom: 40px;
}

.our-team-topic__item {
	color: #314a5b;
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 11px;
	font-weight: bold;
}

.our-team-topic__item-job {
	color: #f0454c;
	font-size: 14px;
	padding-bottom: 14px;
}

.our-team-topic__item-description {
	color: #9aa0ab;
	font-size: 14px;
}

.our-team-content-text-block {

}