.portfolio-content-wrap {
	display: flex;
	justify-content: center;

}

.portfolio-content-flex-text {
	padding-left: 81px;
}

.portfolio-content-wrap {
	padding-top: 104px;
}

.portfolio-content-title__item {
	color: #314a5b;
	font-size: 16px;
	padding: 12px 0 29px 0;
}

.portfolio-content-text__item {
	color: #9aa0ab;
	font-size: 15px;
	width: 100%;
}

.item-padding {
	padding-bottom: 30px;
}

.portfolio-more {
	padding-top: 45px;
}